*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
problems-report.html
/build/problems-report.html
/captures
.externalNativeBuild
.cxx
.kotlin
